<html>
    <head>
<title>About page</title>
<link type="Stylesheet" href="./css/style.css">
<script src="./js/app.js"> </script>
    </head>
    <body>
        {{>header}}
        <br><br>
        <img src="./img/Tiger.jpg">
        <p>
            {{>footer}}
        </p>
    </body>
</html>