<html>
    <head>
<title>Help page</title>
<link type="Stylesheet" href="./css/style.css">
    </head>
    <body>
       {{>header}}
        <p>
            {{content}}
        </p>
        <p>
            {{>footer}}
        </p>
    </body>
</html>