<h4>{{title}}</h4>
<div>
<a href="/web-server/templates/views/index.hbs">Weather</a>
<a href="/web-server/templates/views/about.hbs">About</a>
<a href="/web-server/templates/views/help.hbs">Help</a>
</div>